.blog {
    &__posts {
        display: grid;
        grid-auto-rows: 300px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2rem;

        &__post {
            color: inherit;
            padding: 2rem;
            background-color: $background;
            border : 2px solid $color-1;
            overflow: hidden;
            text-align: center;
            .img {
                height: 15rem;
            }

            &:hover {
                color: $color-2;
            }
        }
    }

    .ui.buttons {
        margin-bottom: 2rem;
    }
    
}

.main.post-form {
    display: flex;
    align-items: center;
    .ui.form {
        width: 100%;
        font-size: 1.4rem;
    }
}