
.button {
    margin-top: 4rem;
    display: inline-block;
    background: $background;
    padding: 1rem 4rem;
    border: 2px solid $color-1;
    color: inherit;
}

.button:hover {
    background: $color-1;
    color: $background;
}
