@import './responsive.scss';

#contact-form {
    .showLoader {
        display:block;
    }

    .hideLoader {
        display:none;
    }

    @include respond(tab-land){
        padding: 4rem;
    }
    
}