
.nav {
    background: $background;
    border-bottom: 2px solid $color-1;
    display:flex;
    align-items: center;

    #logo {
        color: $color-1;
    }

    &__list {
        display:inline-block;
        flex-grow: 1;
        text-align: center;
    }

    &__item {
        display:inline-block;
        margin: 0 1rem;
    }

    &__link {
        color: $color-1;

        &:hover {
            color: inherit;
            border-bottom: 2px solid $color-1;
        }
    }

    &--active {
        text-decoration: line-through $color-1;
        pointer-events: none;
    }

    .ui.icon.input {
        margin-right: 1rem;
    }
}