

.heading-2 {
    font-family: 'Alegreya', serif;
    font-size: 2rem;
}

.heading-3 {
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}

.admin-font {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.type-1 {
    font-size: 1.6rem;
}