
.inline-block {
    display: inline-block;
}

.center {
    width: 100%;
    text-align: center;
}

.border-bottom {
    border-bottom: 2px solid $color-3;
}

.mr-bt-1 {
    margin-bottom: 1rem;
}

.mr-tp-1 {
    margin-top: 1rem;
}