
<%- include('../partials/header'); %>


<!-- admin index page -->
<main class="admin">
    <div class="admin__item">
        <h2 class="heading-2">Posts</h2>
        <h3 class="admin-font count-posts">Total number of posts : <span></span></h3>
        <h3 class="admin-font count-comments">Total number of comments: <span class="total-comments"></span>
            <br>new = <span class="new-comments"></span>
            <br>seen = <span class="seen-comments"></span>
        </h3>
        <a href="/admin/blog" class="ui button">Posts</a>
        <a href="/blog/new" class="ui button">Create a new post</a>
    </div>
    <div class="admin__item quote">
        <h2 class="heading-2">Quotes</h2>
        <h3 class="admin-font count-quotes">Total number of quotes : <span></span></h3>
        <form class="ui form create-quote-form" action="/admin/quotes" method="POST">
            <div class="three fields">
                <div class="field">
                <label>Author</label>
                <input type="text" class="quote-author" name="quote[author]" placeholder="Author name">
                </div>
                <div class="field" >
                <label>Quote</label>
                <input type="text" class="quote-body" name="quote[body]" placeholder="Quote here">
                </div>
                <div class="field">
                <label>Image URL</label>
                <input type="text" class="quote-img" placeholder="Image's URL hrere">
                </div>
            </div>
            <button class="ui button">Add to Storage</button>
            <a href="/admin/quotes" class="ui button">See All Quotes</a>
        </form>
        <!-- <form class="ui form" action="/admin/quotes" method="POST">
            <div class="three fields">
                <div class="field">
                <label>Author</label>
                <input type="text" name="quote[author]" placeholder="Author name">
                </div>
                <div class="field" >
                <label>Quote</label>
                <input type="text" name="quote[body]" placeholder="Quote here">
                </div>
                <div class="field">
                <label>Image URL</label>
                <input type="text" placeholder="Image's URL hrere">
                </div>
            </div>
            <button class="ui button">Add to Storage</button>
            <a href="/admin/quotes" class="ui button">See All Quotes</a>
        </form> -->
    </div>

</main>

<%- include('../partials/footer'); %>