<footer class="footer">
    <h3 class="heading-3">Ashraf Bawer 2020. All rights reserved.</h3>
    <ul class="footer__nav">
      <li class="footer__nav__item">
        <a class="footer__link" href="#">Home</a>
      </li>
      <li class="footer__nav__item">
        <a class="footer__link" href="#">Blog</a>
      </li>
      <li class="footer__nav__item">
        <a class="footer__link" href="#">About</a>
      </li>
    </ul>
    <div class="footer__icons">
      <a href="#" class="footer__icons__item">
        <i class="twitter icon"></i>
      </a >
      <a href="#" class="footer__icons__item">
        <i class="github icon"></i>
      </a>
      <a href="#" class="footer__icons__item">
        <i class="stack overflow icon"></i>
      </a>
    </div>
</footer>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/jquery.hideseek.min.js"></script>
<script src="/js/semantic.min.js"></script>
<script src="/js/search.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>