<%- include('partials/header'); %>

<main class="main about">
    <h1 class="heading-2 border-bottom">About</h1>
    <div class="text">
        <p class="admin-font">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Eius temporibus quos, ducimus cumque enim similique quibusdam eligendi
              voluptatem quam aut exercitationem blanditiis eaque perferendis explicabo 
              cupiditate ut, totam alias architecto?
        </p>
        <p class="admin-font">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla consequatur provident odit molestias quibusdam dolor ad. Laboriosam reiciendis,
             suscipit dolorum, quibusdam voluptas quidem vitae neque debitis deleniti sunt adipisci totam.
        </p>
    </div>
</main>

<%- include('partials/footer'); %>
